


/* ------------------------------------- Main ------------------------------------- */

/* ------------------------------------- Carrossel ------------------------------------- */

#principal_role_carossel{
    background-color: var(--roxo);
}
/* ------------------------------------- Carrossel ------------------------------------- */

/* ------------------------------------- Proximos Eventos ------------------------------------- */

#proximosRoles{
    width: 90%;
    
    margin: auto;
    margin-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

body{
    min-width: 800px;
}

.foraDoCard{
    justify-self: center;
    align-self: center;
}

#card_proximoRole{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.role_card{
    width: 90%;
    height: 200px;
    display: flex;
    border: 2px solid var(--marrom-claro);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}

.role_card img{
    width: 295px;
}

.empresas_card img{
    width: 150px;
    height: 100%;

    
}
.proximoRole_card_conteudo{
    width: 100%;
    height: 100%;
    padding: 5px 5px 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    background-color: black;
}
#cortitulo{
   color: white;
}
.proximoRole_card_conteudo_flex{
    display: flex;
    justify-content: space-between;

    
}
#card_coluna{
    flex-direction: column;
}
#card_coluna p{
    margin-top: 5px;
}
.proximoRole_card_conteudo a{
    text-decoration: none;
    color: black;
    font-size: 2em;
}
.proximoRole_card_empresa{
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 50%;

    margin-top: 5px;
    
}
.proximoRole_card_empresa_texto{
    padding: 1px 7px;
    border-radius: 20px;
}

#horario_data{
    display: flex;
    align-items: center;
}
#horario_data span{
    margin: 0px 40px;
}

/* ------------------------------------- Proximos Eventos ------------------------------------- */

/* ------------------------------------- Noticias ------------------------------------- */

#sec_noticias{
    margin: auto;
    margin-top: 60px;
}

#noticias{
    
    display: flex;
    flex-direction: column;
    width: 80%;
    width: 70%;
    height: 900px;
    margin: auto;
    margin-top: 20px;

    /* display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 30fr 30fr 30fr 30fr 30fr 30fr; */

}

.noticia1, .noticia2, .noticia3, .noticia4, .noticia5{
    display: flex;
    
}

.noticia1{
    background-image: url(img/noticia1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
    margin: 10px;
    grid-row: 1 / 5;
    grid-column: 1 / 6;
    flex-direction: column;
    justify-content: end;
    border-radius: 20px;
    width: 100%;

    
}

.noticia1 h3{
    font-size: 40px;
    font-family: var(--secundary-font);
    font-weight: normal;
}

.noticia1 p{
    font-size: 15px;
    font-family: var(--secundary-font);
    
}

.noticia2{
    grid-row: 1/3;
    grid-column: 6/11;

    flex-direction: column;
    justify-content: start;
    align-items: end;

    align-content: flex-start;
    flex-wrap: wrap;

    margin: 0px 20px;
}

.imagem_noticias{
    height: 80%;
    justify-self: start;
    align-items: start;

    padding: 10px;

    border-radius: 30px;
}

.noticia3{
    grid-row: 3/5;
    grid-column: 6/11;

    flex-direction: column;
    justify-content: start;
    align-items: end;

    align-content: flex-start;
    flex-wrap: wrap;

    margin: 0px 20px;
}


.noticia4{
    grid-row: 5/8;
    grid-column: 1/6;

    flex-direction: column;
    justify-content: start;
    align-items: end;

    align-content: flex-start;
    flex-wrap: wrap;

    margin: 0px 20px 0px 0px;
}

.noticia5{
    grid-row: 5/8;
    grid-column: 6/11;

    flex-direction: column;
    justify-content: start;
    align-items: end;

    align-content: flex-start;
    flex-wrap: wrap;

    margin: 0px 20px;
}

.texto_noticias{
    width: 329px;
    padding: 28px 5px;
}

.texto_noticias h3{
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 25px;

    color: var(--roxo-escuro);
}

.texto_noticias p{
    font-family: var(--secundary-font);
    font-size: 16px;
    margin-top: 10px;
}

/* ------------------------------------- Noticias ------------------------------------- */

/* ------------------------------------- Footer ------------------------------------- */



/* @media (max-width: 500px) {

    #noticias{
    
        width: 80%;
        height: 900px;
    
        margin: auto;
        margin-top: 20px;
    
        display: flex;
        flex-direction: column;
    
    }
} */