/* Fundo da área principal */
.main-cadastro {
    background-color: #f4f4f4; /* Cinza claro de fundo */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
}

/* O Cartão Branco do Formulário */
.cadastro-box {
    background-color: #FAFAFA;
    width: 700px;
    max-width: 100%;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    font-family: var(--secundary-font); /* Puxa do style.css */
    margin: auto;
    margin-top: 50px;
}

/* Cabeçalho do Formulário */
.cadastro-header h2 {
    color: var(--roxo); /* Puxa do style.css */
    font-family: var(--main-font);
    font-size: 2em;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.cadastro-header p {
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1em;
}

.cadastro-header a {
    color: var(--verde-claro);
    font-weight: bold;
    text-decoration: none;
}

/* Grid Layout (2 colunas) */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 30px;
}

/* Classe para ocupar a linha toda */
.full-width {
    grid-column: 1 / -1;
}

/* Labels e Inputs */
.input-group {
    display: flex;
    flex-direction: column;
}

.input-group label {
    color: var(--roxo);
    font-size: 1.2em;
    margin-bottom: 8px;
    font-weight: 400;
}

/* Estilo Visual dos Inputs (Fundo Verde Menta) */
.form-grid input[type="text"],
.form-grid input[type="email"],
.form-grid input[type="password"],
.form-grid input[type="date"] {
    background-color: #EFFBF8;
    border: 1px solid var(--verde-claro);
    border-radius: 10px;
    padding: 12px 15px;
    font-size: 1em;
    color: var(--verde-claro);
    outline: none;
    font-family: var(--secundary-font);
}

.form-grid input::placeholder {
    color: rgba(4, 191, 138, 0.5);
}

/* Input Desabilitado (Endereço) */
.input-disabled {
    background-color: #EEEEEE !important;
    border-color: #CCC !important;
    color: #AAA !important;
}
.input-disabled::placeholder { color: #BBB !important; }

/* Mensagens de Erro (Laranja) */
.aviso-erro {
    color: var(--marrom-escuro);
    font-size: 0.85em;
    text-align: right;
    margin-top: 5px;
    font-weight: 600;
}

/* Linha Divisória */
.divisor {
    grid-column: 1 / -1;
    height: 1px;
    background-color: #DDD;
    margin: 10px 0;
}

/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
}
.checkbox-group input {
    width: 25px; height: 25px;
    margin-top: 2px;
    accent-color: var(--roxo);
    cursor: pointer;
}
.checkbox-group label {
    font-size: 0.9em;
    color: var(--roxo);
    line-height: 1.4;
    text-align: justify;
}

/* Botão Cadastrar */
.btn-cadastrar-page {
    grid-column: 1 / -1;
    background-color: var(--roxo);
    color: white;
    font-family: var(--main-font);
    font-size: 1.8em;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-cadastrar-page:hover {
    background-color: var(--roxo-escuro);
}

/* Responsividade */
@media only screen and (max-width: 992px) {

    /* header */



    header {
        background-color: var(--cinza);

        display: flex;
        flex-direction: column;

        width: 100%;
        height: fit-content;

        justify-content: space-between;


        position: relative;
        top: 0;

        z-index: 2;

        overflow: hidden;
    }

    #logo img {
        width: 100px;
        position: absolute;

        left: 10px;
        top: 10px;
    }}
@media (max-width: 768px) {
    #logo img {
        width: 100px;
        position: absolute;

        left: 10px;
        top: 10px;
    }
    .form-grid {
        grid-template-columns: 1fr;
    }
    .cadastro-box {
        padding: 30px;
    }
    .cadastro-header h2 {
        font-size: 2em;
    }
}
/* Adicione no final do cadastro.css */

.input-erro {
    border: 1px solid red !important;
    background-color: #ffe6e6 !important; /* Fundo levemente avermelhado */
}

.aviso-erro {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    display: block; /* O JS vai controlar o display, mas isso garante o comportamento de bloco */
}