@import url('https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* Fonts */

    --main-font: "Tuffy", sans-serif;
    --secundary-font: "Inter", sans-serif;

    /* Cores */

    --roxo: #7756BF;
    --roxo-escuro: #6b4cad;
    --verde-claro: #04BF8A;
    --verde-escuro: #02734A;
    --marrom-claro: #D9A404;
    --marrom-escuro: #D98E04;
    --cinza: #D3D3D3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
    
}

/* ------------------------------------- Texto ------------------------------------- */

h1{
    font-family: var(--secundary-font);
    font-weight: 300;
    text-align: center;

    color: var(--roxo);

    font-size: 4em;
}
h2{
    font-family: var(--secundary-font);
    font-weight: 300;
    text-align: center;

    color: var(--roxo);

    font-size: 3em;
}

.verde{
    color: var(--verde-claro);
}
/* ------------------------------------- Header ------------------------------------- */






/* ------------------------------------- Main ------------------------------------- */

main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titulo{
    font-family: var(--main-font);
    color: var(--roxo-escuro);
    margin: 5% 0% 0% 0%;
}
#titulo h3{
    margin: 2% 0%;
}

a{
    color: #04BF8A;
}

#formulario{
    width: 55%;
    height: 300px;

    display: flex;
    flex-direction: column;

    font-family: var(--main-font);
    font-size: 20px;
    color: var(--roxo-escuro);
}

#formulario form{
    display: flex;
    flex-direction: column;
}

.conteudo_form{
    margin: 5px 0px;
}

#formulario form input{
    height: 50px;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #04BF8A;
}

#botao_acao_entrar{
display: block;

    align-self: center;
    margin-top: 15px;
    width: 50%;
    height: 70px;
    border-radius: 20px;

    color: #ffffff;
    background-color: #7756BF;
    border: #7756BF;
    padding: 20px;

    margin-bottom: 100px;

    font-size: 20px;
}

#esqueceu_senha{
    align-self: end;
}