
@import url('https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    /* Fonts */

    --main-font: "Tuffy", sans-serif;
    --secundary-font: "Inter", sans-serif;

    /* Cores */

    --roxo: #7756BF;
    --roxo-escuro: #6b4cad;
    --verde-claro: #04BF8A;
    --verde-escuro: #02734A;
    --marrom-claro: #D9A404;
    --marrom-escuro: #D98E04;
    --cinza: #D3D3D3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
    
}

/* ------------------------------------- Medias ------------------------------------- */

#medias{
    position: fixed;
    top: 20%;
    left: 96%;

    padding: 10px;

    background-color: var(--roxo);

    border-radius: 6px 0px 0px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#medias i{
    font-size: 2em;
    color: white;
}
#medias p{
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

/* ------------------------------------- Header ------------------------------------- */

header{
    background-color: #D3D3D3;

    /* Display */

    display: flex;
    justify-content: space-between;
    padding: 0px 50px 10px 50px;  

    position: sticky;
    top: 0;
}
#logo img{
    width: 180px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    text-decoration: none;

}
menu a{
    text-decoration: none;
    color: var(--roxo);
    margin: 0px 20px;
    
    font-size: 1.3em; 
    
    
}
menu a:hover{
    border-bottom: 2px solid var(--roxo-escuro);
    
}
#log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 40PX;
}
#log a{
    text-decoration: none;
}
#botao_login{
    background-color: var(--verde-claro);
    padding: 5px 25px;
    border-radius: 20px;
    text-align: center;
    color: white; 
    font-size: 1.2em;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);

    transition: 0.3s;
}
#botao_login:hover{
    background-color: var(--verde-escuro);
    
}
#cadastre_se{
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: var(--roxo);
}

/* ------------------------------------- Main ------------------------------------- */

#busca{
    width: 700px;
    margin: auto;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#busca h1{
    font-family: var(--secundary-font);
    font-weight: 300;
    text-align: center;

    color: var(--roxo);

    font-size: 4em;
}
#busca .cor_diferente{
    color: var(--verde-claro);
}
#busca input{
    width: 600px;

    margin-top: 20px;
    padding: 5px;
    
    font-weight: bold;
    color: var(--roxo-escuro);

    border-radius: 20px;
    border: 2px solid var(--verde-claro);
}

/* ------------------------------------- Tags ------------------------------------- */

#tags{
    margin-top: 50px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

}
#tags .linha{
    display: flex;

    justify-content: space-around;
}
#tags a{
    text-decoration: none;
    background-color: var(--verde-claro);
    color: white;   


    padding: 3px 10px;
    margin: 20px;

    border-radius: 20px;

    font-size: var(--secundary-font);

    animation: movimentaTags 3s linear infinite alternate;
}

@keyframes movimentaTags{
    50%{
        transform: translateX(-20px);
    }
    100%{
        taransform: translateX(20px);
    }
}

/* ------------------------------------- Footer ------------------------------------- */

footer{
    background-color: var(--roxo);

    margin-top: 50px;

    height: 300px;
    
    display: grid;

    grid-template-columns: repeat(16, 1fr);

    font-family: var(--secundary-font);
    font-weight: 200;
}
#footer_logo{
    display: flex;

    justify-content: center;
    align-items: center;

    grid-column: 1 / 5;
    
    margin-bottom: 30px;
}
#footer_logo img{
    width: 250px;  
}




#footer_pages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: 5 / 9;
}
#footer_pages h3{
    color: white;

    margin-bottom: 15px;
    
    font-family: var(--secundary-font);
    font-weight: 400;
    
    font-size: 20px;
}
#footer_pages a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
#footer_pages li{
    padding: 2px 0px;   
}

#regulamento{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 9 / 13;
}
#regulamento h3{
    color: white;

    margin-bottom: 15px;
    
    font-family: var(--secundary-font);
    font-weight: 400;
    
    font-size: 20px;
}
#regulamento a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
#regulamento li{
    padding: 2px 0px;   
}


#footer_medias{
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 13 / 17;
}
#footer_medias a{
    text-decoration: none;
    color: white;
    list-style-type: none;
}
#footer_medias li{
    padding: 2px 0px; 
    font-size: 15px;  
}


