@import url('https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* Fonts */

    --main-font: "Tuffy", sans-serif;
    --secundary-font: "Inter", sans-serif;

    /* Cores */

    --roxo: #7756BF;
    --roxo-escuro: #6b4cad;
    --verde-claro: #04BF8A;
    --verde-escuro: #02734A;
    --marrom-claro: #D9A404;
    --marrom-escuro: #D98E04;
    --cinza: #D3D3D3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--main-font);

}

/* ------------------------------------- Medias ------------------------------------- */

#medias {
    position: fixed;
    top: 20%;
    left: 96%;

    padding: 10px;

    background-color: var(--roxo);

    border-radius: 6px 0px 0px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#medias i {
    font-size: 2em;
    color: white;
}

#medias p {
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

/* ------------------------------------- Header ------------------------------------- */

header {
    background-color: #D3D3D3;



    display: flex;
    justify-content: space-between;
    padding: 0px 50px 10px 50px;

    position: sticky;
    top: 0;

    z-index: 2;
}

#logo img {
    width: 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    text-decoration: none;

}

menu a {
    text-decoration: none;
    color: var(--roxo);
    margin: 0px 20px;

    font-size: 1.3em;


}

menu a:hover {
    border-bottom: 2px solid var(--roxo-escuro);

}

#log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-top: 40PX;
}

#log a {
    text-decoration: none;

}

#botao_login {
    background-color: var(--verde-claro);
    padding: 5px 25px;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 1.2em;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);

    transition: 0.3s;
}

#botao_login:hover {
    background-color: var(--verde-escuro);

}

#cadastre_se {
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: var(--roxo);
}

/* ------------------------------------- Main ------------------------------------- */
hr {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.144);
}

#busca {

    margin: auto;
    margin-top: 80px;


}

h1 {
    font-family: var(--secundary-font);
    font-weight: 300;
    text-align: center;

    color: var(--roxo);

    font-size: 4em;
}

h2 {
    font-family: var(--secundary-font);
    font-weight: 300;
    text-align: center;

    color: var(--roxo);

    font-size: 3em;
}

.verde {
    color: var(--verde-claro);
}


/*----------------------------------------------- Principais roles ----------------------------------------*/

#principal_role {
    margin-top: 60px
}

#principal_role_content {
    height: 600px;

    margin-top: 40px
}

#principal_role_view {
    width: 70%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;

    border: 1px solid var(--marrom-claro);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);

    
    position: relative;

    border-radius: 10px;
    background-color: black;
    
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#principal_role_view h2{
    color: var(--marrom-claro);
    background-color: rgba(0, 0, 0, 0.781);
    border-radius: 10px;
    padding: 10px 30px;
}
#principal_role_position {
    display: flex;
    width: 100%;
    justify-content: space-around;

    position: absolute;

    top: 420px;


}

.principal_role_box {
    width: 160px;
    height: 160px;

    cursor: pointer;

    border-radius: 20px;

    transition: 1s;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.principal_role_box:hover {
    transform: scale(1.3);
}

/**************************************************** Empresas ******************************************************/
#card_link{
    text-decoration: none;
    color: black;
}
#empresas {
    width: 95%;

    margin: auto;
    margin-top: 60px;
}

#empresas_card_espaco {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;


    padding: 20px;


}

.empresas_card {
    width: 500px;


    display: flex;

    border: 2px solid var(--marrom-claro);

    border-radius: 10px;

    overflow: hidden;

    margin: 20px;
}

.empresas_card img {
    width: 200px;
    height: 100%;


}

.empresas_card_conteudo {
    width: 100%;
    height: 100%;

    padding: 5px 5px 5px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empresas_card_conteudo_flex {
    display: flex;
    justify-content: space-between;
}

.empresas_card_conteudo_flex h3 {
    font-size: 1.5rem;
    font-family: var(--secundary-font);
    font-weight: 400;
}

#card_coluna {
    flex-direction: column;
}

#card_coluna p {
    margin-top: 5px;
}

.empresas_card_conteudo a {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.empresas_card_tags {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 2px;

    margin-top: 5px;

}

.empresas_card_tags_texto {
    background-color: var(--marrom-claro);
    padding: 1px 7px;
    border-radius: 20px;

    font-size: 8px;

}

#rate {
    display: flex;
    align-items: center;
}

#rate span {
    margin: 0px 5px;
}

#rate i {
    color: var(--marrom-claro);
}

/* ------------------------------------- Tags ------------------------------------- */

#tags {
    margin-top: 50px;

    display: flex;
    flex-direction: column;

    justify-content: space-around;

}

#tags .linha {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#tags a {
    text-decoration: none;
    background-color: var(--verde-claro);
    color: white;


    padding: 3px 10px;
    margin: 20px;

    border-radius: 20px;

    font-size: var(--secundary-font);

    animation: movimentaTags 3s linear infinite alternate;
}
#filtrado_conteudo{
    background-color: var(--verde-claro);
    color: white;
    display: none;
    padding: 3px 10px;
    

    border-radius: 20px;
}
#filtrado{
    margin-top: 20px;
}
@keyframes movimentaTags {
    50% {
        transform: translateX(-5px);
    }

    100% {
        taransform: translateX(5px);
    }
}

/* ------------------------------------- Footer ------------------------------------- */

footer {
    background-color: var(--roxo);

    margin-top: 50px;

    padding: 15px;

    height: 300px;

    display: grid;

    grid-template-columns: repeat(16, 1fr);

    font-family: var(--secundary-font);
    font-weight: 200;
}

#footer_logo {
    display: flex;

    justify-content: center;
    align-items: center;

    grid-column: 1 / 5;

    margin-bottom: 30px;
}

#footer_logo img {
    width: 250px;
}




#footer_pages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: 5 / 9;
}

#footer_pages h3 {
    color: white;

    margin-bottom: 15px;

    font-family: var(--secundary-font);
    font-weight: 400;

    font-size: 20px;
}

#footer_pages a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

#footer_pages li {
    padding: 2px 0px;
}

#regulamento {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 9 / 13;
}

#regulamento h3 {
    color: white;

    margin-bottom: 15px;

    font-family: var(--secundary-font);
    font-weight: 400;

    font-size: 20px;
}

#regulamento a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

#regulamento li {
    padding: 2px 0px;
}


#footer_medias {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-column: 13 / 17;
}

#footer_medias a {
    text-decoration: none;
    color: white;
    list-style-type: none;
}

#footer_medias li {
    padding: 2px 0px;
    font-size: 15px;
}


/* ------------------------------------------------Medias queries------------------------------------------------ */


/* Monitor grande */

@media only screen and (max-width: 992px) {

    /* header */



    header {
        background-color: var(--cinza);

        display: flex;
        flex-direction: column;

        width: 100%;
        height: fit-content;

        justify-content: space-between;


        position: relative;
        top: 0;

        z-index: 2;

        overflow: hidden;
    }

    #logo img {
        width: 100px;
        position: absolute;

        left: 10px;
        top: 10px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }

    nav menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;

        text-decoration: none;

    }

    menu a {
        text-decoration: none;
        color: var(--roxo);
        margin: 0px 0px;

        font-size: 1em;


    }

    menu a:hover {
        border-bottom: 2px solid var(--roxo-escuro);

    }

    #log {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        padding-top: 20px;

    }

    #log a {
        text-decoration: none;


    }

    #botao_login {
        background-color: var(--verde-claro);
        padding: 5px 25px;
        border-radius: 20px;
        text-align: center;
        color: white;
        font-size: 0.9em;
        width: 180px;
        margin: auto;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.623);

        transition: 0.3s;
    }

    #botao_login:hover {
        background-color: var(--verde-escuro);

    }

    #cadastre_se {
        text-align: center;
        margin-top: 5px;
        text-decoration: none;
        color: var(--roxo);
    }

    #principal_role_view {
    width: 100%;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: auto;

    border: 0px solid var(--marrom-claro);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.527);

    
    position: relative;

    border-radius: 0px;
    background-color: black;
    
    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    /* Cards das empresas */

    .empresas_card {
        width: 350px;
        height: 280px;

        display: flex;
        flex-direction: column;
        border: 2px solid var(--marrom-claro);

        border-radius: 10px;

        overflow: hidden;

        margin: 20px;
    }

    .empresas_card img {
        width: 80px;
        height: 80px;
        margin: 10px;


        border-radius: 20px;


    }

    #empresas {


        margin: auto;
        margin-top: 60px;
    }

    #empresas_card_espaco {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        padding: 20px 0px;


    }

    /* footer */
    footer {
        background-color: var(--roxo);

        margin-top: 50px;

        height: fit-content;

        display: grid;

        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: 1fr 1fr;

        font-family: var(--secundary-font);
        font-weight: 200;
    }

    #footer_logo {
        display: flex;

        justify-content: center;
        align-items: center;

        grid-column: 1 / 5;

        margin-bottom: 30px;
    }

    #footer_logo img {
        width: 50%;
    }




    #footer_pages {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        
        grid-column: 6 / 9;
    }

    #footer_pages h3 {
        color: white;

        margin-bottom: 15px;

        font-family: var(--secundary-font);
        font-weight: 400;

        font-size: 20px;
    }

    #footer_pages a {
        text-decoration: none;
        color: white;
        list-style-type: none;
        
    }

    #footer_pages li {
        padding: 2px 0px;
        
    }

    #regulamento {
        display: flex;
        justify-content: start;
        align-items: center;

        grid-column: 1 / 5;
        grid-row: 2 / -1;
    }

    #regulamento h3 {
        color: white;

        margin-bottom: 15px;

        font-family: var(--secundary-font);
        font-weight: 400;

        font-size: 20px;
    }

    #regulamento a {
        text-decoration: none;
        color: white;
        list-style-type: none;
    }

    #regulamento li {
        padding: 2px 0px;
    }


    #footer_medias {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-row: 2 / -1;
        grid-column: 6 / 9;
    }

    #footer_medias a {
        text-decoration: none;
        color: white;
        list-style-type: none;
    }

    #footer_medias li {
        padding: 2px 0px;
        font-size: 15px;
    }
}

/* Tablet */

@media only screen and (max-width: 768px) {
    #tags {
        margin-top: 50px;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;

        justify-content: space-around;

    }

    #tags a {
        text-decoration: none;
        background-color: var(--verde-claro);
        color: white;


        padding: 3px 5px;
        margin: 5px;

        border-radius: 20px;
        font-size: 10px;



    }

    /* Cards das empresas */

    .empresas_card {
        width: 250px;
        height: 350px;

        display: flex;
        flex-direction: column;
        border: 2px solid var(--marrom-claro);

        border-radius: 10px;

        overflow: hidden;

        margin: 20px;
    }

    .empresas_card img {
        width: 80px;
        height: 80px;
        margin: 10px;


        border-radius: 20px;


    }

    #empresas {


        margin: auto;
        margin-top: 60px;
    }

    #empresas_card_espaco {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        padding: 20px 0px;


    }

    .empresas_card_tags {
        display: flex;

        align-items: center;
        flex-wrap: wrap;
        justify-content: start;

        gap: 2px;

        margin-top: 5px;
    }
}

/* --------------------------------------------------Celular-------------------------------------------------- */

@media only screen and (max-width: 600px) {


    #tags a {
        text-decoration: none;
        background-color: var(--verde-claro);
        color: white;


        padding: 3px 5px;
        margin: 5px;

        border-radius: 20px;
        font-size: 10px;


        animation: movimentaTags 3s linear infinite alternate;
    }

    @keyframes movimentaTags {
        50% {
            transform: translateX(-5px);
        }

        100% {
            taransform: translateX(5px);
        }
    }

    /* Cards das empresas */

    .empresas_card {
        width: 90%;
        height: fit-content;

        display: flex;
        flex-direction: row;
        border: 2px solid var(--marrom-claro);

        border-radius: 10px;

        overflow: hidden;

        margin: 20px;
    }

    .empresas_card img {

        width: 80px;
        height: 80px;
        margin: 0px;


        border-radius: 0px 0px 20px 0px;

    }

    #empresas {


        margin: auto;
        margin-top: 60px;
    }

    #empresas_card_espaco {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;

        padding: 20px 0px;


    }

    .empresas_card_tags {
        display: flex;

        align-items: center;
        flex-wrap: wrap;
        justify-content: start;

        gap: 2px;

        margin-top: 5px;
    }

    /* Header */


}


@media only screen and (max-width: 600px) {}